/* MainColor = rgb(239, 108, 0) */

.pageTitle{
    font-size: 25px;
    font-weight: bold;
    color: rgb(239, 108, 0);
    margin-top: 40px; margin-bottom: 10px;
}
.pageSubTitle{
    font-size: 18px;
    color: rgb(239, 108, 0);
    margin-top: 10px; margin-bottom: 10px;
}
.formLabel{
    font-weight: bold;
}
.emailText{
    font-size: 25px;
}
.errorText{
    margin-top: 5px;
    text-align: center;
    color: red;
    font-size: 15px;
    text-align: start;
}
.authorSendBtn{
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(239, 108, 0);
    font-size: 15px;
    color: white;
    text-align: center;
    cursor: pointer;
}
.SigninBtn{
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(239, 108, 0);
    font-size: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
}
